.wrapper {
    width: 300px;
    margin: 30px;
}
img {
    width: 300px;
    height: 200px;
}
h4 {
    font-size:15px ;
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid red;
}
h5 {
    font-size:18px ;
    padding-top: 20px;
    color: blue;
}

